HTML,BODY { width: 100vw; height: 100vh; overflow: hidden; touch-action: pan-y; }
BODY { margin: 0; font-family: 'Lato', sans-serif; }
PRE { position: relative; background-color: rgb(251, 244, 208); padding: 5px 5px; border: solid #ddcb8e 1px; overflow: auto; max-height: 85%; }
PRE .code-copy { display: none; position: absolute; top: 0px; right: 0px; width: 16px; height: 20px; padding: 2px; cursor: pointer; }
PRE:hover .code-copy { display: block; }
CODE { background-color: rgb(251, 244, 208); white-space: pre; }
A.link-note { text-decoration-style: dashed; }
/* A.link-note::before {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%203000%203000%22%3E%3Cg%20transform%3D%22rotate%28-180%201500%201500%29%22%3E%3Cpath%20d%3D%22M2265%202921%20c-16%20-10%20-93%20-82%20-170%20-160%20l-140%20-141%20335%20-335%20335%20-335%20153%20153%20c105%20105%20155%20162%20161%20185%2020%2071%207%2089%20-267%20366%20-142%20142%20-271%20264%20-289%20272%20-44%2019%20-82%2017%20-118%20-5z%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M1072%201737%20l-763%20-764%20332%20-331%20c182%20-183%20335%20-332%20338%20-332%203%200%20350%20344%20771%20765%20l765%20765%20-330%20330%20c-181%20181%20-334%20330%20-340%20330%20-6%200%20-353%20-343%20-773%20-763z%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M206%20848%20c-2%20-7%20-12%20-60%20-20%20-118%20-18%20-112%20-42%20-252%20-76%20-445%20-40%20-223%20-39%20-215%20-21%20-214%209%200%2036%204%2061%209%2046%209%20203%2036%20395%2070%2061%2011%20157%2027%20215%2036%2058%209%20107%2019%20110%2021%205%205%20-642%20653%20-653%20653%20-4%200%20-9%20-6%20-11%20-12z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  position: relative; top: 2px; margin-right: 2px; opacity: 0.5;
}
A.link-ext::before {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%20498.455%20498.455%22%3E%0D%0A%3Cpath%20d%3D%22M492.201%2C111.423L389.768%2C46.398c-8.338-5.278-15.146-1.53-15.146%2C8.338v23.333%20c-85.223%2C0.459-154.225%2C69.691-154.225%2C155.065c0%2C14.917%2C2.142%2C29.376%2C6.12%2C43.07c18.513-64.413%2C77.8-111.614%2C148.105-111.996%20v23.333c0%2C9.945%2C6.809%2C13.617%2C15.146%2C8.338l102.434-65.025C500.615%2C125.346%2C500.463%2C116.702%2C492.201%2C111.423z%22%2F%3E%0D%0A%3Cpath%20d%3D%22M376.533%2C379.173c0%2C11.858-9.717%2C21.497-21.496%2C21.497H75.276c-11.934%2C0-21.497-9.716-21.497-21.497V207.048%20c0-11.857%2C9.715-21.497%2C21.497-21.497h136.399c5.891-19.813%2C14.382-38.021%2C25.475-53.779H21.496%20C9.639%2C131.772%2C0%2C141.335%2C0%2C153.269v279.685c0%2C11.857%2C9.715%2C21.496%2C21.496%2C21.496h387.32c11.857%2C0%2C21.496-9.562%2C21.496-21.496%20V189.683l-53.779%2C34.196V379.173L376.533%2C379.173z%22%2F%3E%0D%0A%3C%2Fsvg%3E");
  position: relative; top: 2px; margin-right: 2px; opacity: 0.5;
} */
A.link-note:hover::before,A.link-ext:hover::before { opacity: 1; }
TABLE { margin-top: 1em; margin-bottom: 1em; border-collapse: collapse; }
TH, TD { border: solid #ccc 1px; padding: 0 3px; }
H1 { padding-bottom: 5px; border-bottom: solid #ccc 1px; }
H2 { display: table; margin-top: 0.5rem; margin-bottom: 0; padding-bottom: 3px; border-bottom: solid #ccc 1px; }
/* H2:not(:first-child) { margin-top: 0; } */
H3 { display: table; margin-top: 0.5rem; margin-bottom: 0; padding-bottom: 3px; border-bottom: dotted #ccc 1px; font-size: 18px; }
/* H3:not(:first-child) { margin-top: 0; } */
P { margin-top: 0.5rem; }
BLOCKQUOTE { margin-left: 3px; padding-left: 15px; border-left: solid #ccc 2px; margin-right: 20px; }
DIV#panels { position: fixed; height: 100vh; width: 100vw; display: flex; }
DIV#panel-left { position: relative; display: flex; flex-direction: column; width: 20em; flex-shrink: 0; background-color: rgb(200,200,200); transition: margin 1s; }
DIV#panel-left A { text-decoration: none; color: inherit; }
DIV#panel-buttons { display: flex; flex-direction: column; background-color: rgb(40,40,40); }
DIV#panel-buttons > DIV { cursor: pointer; padding: 5px; }
.button-svg { display: block; margin-left: auto; margin-right: auto; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
.button-active { background-color: rgb(80,80,80) !important; }
DIV#button-settings { margin-top: auto; }
DIV#panel-main { position: relative; flex-grow: 1; display: flex; height: 100vh; margin: auto; justify-content: center; min-width: 300px /* needs a min-width to override `auto` value implied by flex */; background-color: grey; }
DIV#status { position: absolute; right: 0px; padding: 5px; color: white; background-color: rgb(180,0,0) !important; transition: opacity 1s ease-in; z-index: 1000; }
.button-unpin { position: absolute; top: 3px; right: 3px; }
TEXTAREA#input,DIV#render,DIV#graph { align-self: center; width: 80%; height: 80%; background-color: white; }
DIV#render { box-sizing: border-box; padding: 0 20px; overflow-y: auto; }
.note-li { position: relative; margin: 4px; padding: 5px 8px; border: solid transparent 1px; border-radius: 5px; background-color: #9ABCBD; cursor: pointer; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.note-active { background-color: #6BA2A5 !important; }
.note-selected { border: solid black 1px; }
.note-deleted { text-decoration: line-through; }
.note-title { font-weight: bold; line-height: 1.4; }
.note-modified { font-size: 0.9em; }
.tabbar { display: flex; }
.tablabel { flex-grow: 1; padding: 5px; background-color: rgb(150,150,150); cursor: pointer; z-index: 1000; }
.tab-active { background-color: rgb(200,200,200) !important; }
.tab { width: 20em; position: relative; overflow-y: scroll; scrollbar-width: none; }
.tab::-webkit-scrollbar { display: none; }
DIV#scrolled { position: absolute; left: calc(10em - 22px); top: 2.8em; z-index: 1000; padding: 5px; background-color: rgba(0, 0, 0, 0.3); border-radius: 10px; cursor: pointer; }
DIV#scrolled:hover { background-color: rgba(0, 0, 0, 0.4); }
DIV#scrolled > * { display: block; width: 40px; height: 40px; }
DIV#search-box { display: flex; }
DIV#search-results { position: relative; }
INPUT#search-input { flex-grow: 1; margin-right: 0; font-size: inherit; }
DIV.mask { overflow: hidden; }
.search-controls { margin: 5px 5px 0 5px; }
DIV#modal-overlay { position: fixed; left: 0px; top: 0px; bottom: 0px; right: 0px; display: flex; justify-content: center; align-items: center; background-color: rgba(0,0,0,0.5); transition: background 0.3s linear; }
DIV#modal-overlay DIV { padding: 5px 25px; border-radius: 25px; background-color: rgba(50,50,50,1); color: white; }
DIV#modal-overlay HR { background-color: #ccc; }
P#modal-error { color: rgb(255,0,0); }
.modal-button { background-color: rgb(204,204,204); border-radius: 8px; border: none; padding: 0.7em 1em; font-size: 1em; }
.modal-button:hover { background-color: white; cursor: pointer; }
.modal-button-small { background-color: rgb(204,204,204); border-radius: 5px; border: none; padding: 0.35em 0.6em; font-size: 0.9em; }
.modal-button-small:hover { background-color: white; cursor: pointer; }
.settings-label { display: inline-block; min-width: 10em; }
.input-password { width: 10em; }
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Loader CSS from loading.io - License: CC0 */
.loader {
  position: relative;
  width: 80px;
  height: 30px;
  margin: 0 auto;
}
.loader div {
  position: absolute;
  top: 7px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.loader div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loader div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loader div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


@media (max-width: 1024px) {
  HTML { font-size: 14px; }
}
@media (max-width: 800px) {
  HTML { font-size: 12px; }
}
@media (max-width: 600px) {
  HTML { font-size: 9px; }
}
@media print {
  #panel-left,#panel-buttons,#panel-right { display: none; }
  DIV#render { width: 100%; height: 100%; }
}
