HTML,BODY { width: 100vw; height: 100vh; overflow: hidden; }
BODY { margin: 0; background-color: grey; }
CODE { background-color: rgb(200,200,200); }
TABLE { border-collapse: collapse; }
TH, TD { border: solid black 1px; padding: 0 3px; }
#panels { display: flex; height: 100vh; }
#panel-left { width: 20em; flex-shrink: 0; background-color: rgb(200,200,200); }
#panels > DIV { }
#panel-main { flex-grow: 1; display: flex; max-width: 1200px; height: 100vh; margin: auto; justify-content: center; }
#main-buttons { position: absolute; left: 20em; top: 0px; }
#button-addnote { cursor: pointer; }
#input,#render,#graph { align-self: center; width: 80%; height: 80%; background-color: white; }
#render { box-sizing: border-box; padding: 0 20px; overflow-y: auto; }
.note-li { margin: 5px; padding: 5px 8px; background-color: rgb(220,220,200); cursor: pointer; }
.note-title { font-weight: bold; font-size: 1.1em; line-height: 1.4; }
.tabbar { display: flex; }
.tablabel { flex-grow: 1; padding: 5px; background-color: rgb(150,150,150); cursor: pointer; }
.tabactive { background-color: rgb(200,200,200) !important; }
.tab { position: absolute; width: 20em; }
#search-box { display: flex; }
#search-input { flex-grow: 1; margin-right: 0; }
.search-controls { margin: 5px 5px 0 5px; }
